/* CSS Styles */



  <style>
      @font-face{
        font-family: dreamland;
        src: url(dreamland/dreamlan.ttf) format ('truetype');
      }
        body {
          background-image: url('images/trippyflower.jpg');
          color: #fff2b3 ;
          text-align:center;
          font-size:500%;
          font-family: dreamlan;
        padding: 30px ;
        }
        h1{font-family: dreamland/dreamlan.ttf; }
      p{text-align: center
      font-size: 100%;
      font-family

    }
